
/* 
Author:Cristina Duran
Date: December 14, 2022
File Name: styles.css
*/

/* CSS Reset */
body, header, nav, main, footer, img, h1, h2, h3, ul, {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rules for body and images*/
body {
    font-family: 'Lora', serif;
    color: #281C26;
    background-color: #F0E8F3;
}

/* Style rules for skip navigation link */
.skip {
    position: absolute;
    left: -999px;
}

.skip:focus {
    color: #fff;
    background-color: #2a1f14;
    text-decoration: none;
    padding: 0.5%;
    top: auto;
    left: auto;
    right: 1px;
    z-index: 1;
}


/* Styles rules for navigation area */
nav {
    background: #D3C7D5;
    width: 100%;
    color: ;

}

.navbar-brand {
    font-size: 2.5rem;
    font-family: 'Pacifico', cursive;
    color: #543F52;
}

.navbar-brand:hover {
    color: #281C26;
}

nav li a {
    padding: 1.5em;
    color: #543F52;
}

.nav-link:hover {
    color: #281C26;
}


.btn {
    border: 1px solid #281C26;
    background-color: #F0E8F3;
    color: #281C26;
}

.btn:hover {
    background-color: #281C26;
    border: 1px solid #281C26;
    color: #F0E8F3;
}

/* Style rules for main content */

.introduction {

}

h3 {
    font-size: 2rem;
    font-weight: bold;
}

.headshot {
    width: 65%;
    height: auto;
    border-radius: 50%;
    border: 1px solid black;
}

.name{
    font-size: 3rem;
    font-family: 'Pacifico', cursive;
    margin-bottom: 2rem;
    color: #543F52;
}

a {
    text-decoration: none;
}

.special-text {
    font-size: 1.5rem;
}

hr {
    width: 100%;
    margin: 50px 0;
}

.featured {
    height: 200px;
    width: 300px;
}

span {
    font-family: 'Sono', sans-serif;
}

.button {
    margin: 5% auto 5%;
    display: block;
    padding: 2%;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
}

/* Style rules for footer content */

.card-body {
    display: flex;
    align-items: center;
    justify-content: center;
}
.accordion {
    width: 75%;
    margin: 0 auto;
}

.accordion-img {
    width: 300px;
}

/* Style rules for footer area */
footer {
    text-align: center;
    font-size: 1em;
    background-color:;
    color: ;
    padding: 1% 0%;
    clear: left;
}

footer a {
    color: #E42D9F;
    text-decoration: none;
}

.social img {
    display: inline-block;
    padding: 1%;
    width: 7%;
}

/* Media Query for Print */
@media print {
    body {
        background-color: #fff;
        color: #000;
    }
}