
/* 
Author:Cristina Duran
Date: December 14, 2022
File Name: styles.css
*/

/* CSS Reset */
body, header, nav, main, footer, img, h1, h2, h3, ul, {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rules for body and images*/
body {
    background: color #e9e9e9;
    font-family: 'Sono', sans-serif;
}

/* Style rules for skip navigation link */
.skip {
    position: absolute;
    left: -999px;
}

.skip:focus {
    color: #fff;
    background-color: #2a1f14;
    text-decoration: none;
    padding: 0.5%;
    top: auto;
    left: auto;
    right: 1px;
    z-index: 1;
}


/* Styles rules for navigation area */
nav {
    background-color: #cdcdcd;
    width: 100%;
}
.navbar-brand {
    font-size: 3rem;
    font-family: 'Pacifico', cursive;
}

nav li {
    font-size: 1.25em;
}

nav li a {
    padding: 1.5em;
}

.btn {
    border: 1px solid black;
}

/* Style rules for main content */
/*main {
    padding: 2%;
    line-height: 1.5em;
    width: 90%;
    margin: 0 auto;
}*/

h3 {
    font-size: 2rem;
    font-weight: bold;
}

.headshot {
    width: 300px;
    height: 400px;
}
.name{
    font-size: 3rem;
    font-family: 'Pacifico', cursive;
    margin-bottom: 2rem;
}

a {
    text-decoration: none;
}

.special-text {
    font-size: 1.5rem;
}

hr {
    border: 1px solid #bbb;
    width: 100%;
    margin: 50px 0;
}

.featured {
    height: 200px;
    width: 300px;
}

/* Gallery */
.green{
    background-color:#6fb936;
  }
          .thumb{
              margin-bottom: 30px;
          }
          
          .page-top{
              margin-top:85px;
          }
  

img.zoom {
    width: 100%;
    height: 200px;
    border-radius:5px;
    object-fit:cover;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}


.button {
    margin: 5% auto 5%;
    display: block;
    padding: 2%;
    background-color: #e42d9f;
    color: white;
    font-size: 1.25em;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;

}

/* Style rules for footer content */
footer {
    text-align: center;
    font-size: 1em;
    background-color: #bdbdbe;
    color: white;
    padding: 1% 0%;
    clear: left;
}

footer a {
    color: #E42D9F;
    text-decoration: none;
}

.social img {
    display: inline-block;
    padding: 1%;
    width: 10%;
}

/* Style rules for footer area */
footer {
    overflow: auto;
}

.social img {
    display: inline;
    width: 5%;
}



/* Media Query for Print */
@media print {
    body {
        background-color: #fff;
        color: #000;
    }
}